/* BP -> monitores pequeños y laptops */
@media (max-width: 960px){
    .card__description{
        line-height: 1rem;
    }
}

/* BP -> dispositivos moviles y tablets landscape  */
@media (max-width: 768px) {
    .navbar {
       flex-direction: column;
       gap: 2rem;
    }

    .product-container__item{
        flex: 0 0 45%
    }
}
/* BP -> dispositivos moviles y tablets portrait */
@media (max-width: 468px) { 
    .navbar .navbar__menu {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .row{
        flex-direction: column;
        align-content: center;
        padding: 2rem;
    }

    .product-container__item{
        flex: 0 0 90%
    }
}